<button data-toggle="collapse" data-target="#log" class="button">Load Log</button>


        <div id="log" class="collapse">
            <div class="well">
                <h3>
                    **Update 03/28/2018** - The Following Claim Dates are Available in the System
                </h3>
                <h4>
                    -- Magellan: 08/01/2016 - 03/15/2018
                </h4>
                <h4>
                    -- ServeYou: 08/01/2016 - 03/15/2018
                </h4>
                <h4>
                    -- Optim: 08/01/2016 - 03/15/2018
                </h4>
            </div>

            
        </div> 