 <button data-toggle="collapse" data-target="#demo" class="button">Updates</button>

<div id="demo" class="collapse">
	<div class="well">
		<h4>
			**Update 03/28/2018** - Added date picker calendat to search forms.  Also added a load log where users can see what claims have been loaded.
		</h4>
	</div>

	<div class="well">
		<h4>
			**Update 03/27/2018** - Updated Date Formatting to be mm/dd/yyyy for all search boxes.
		</h4>
	</div>

	<div class="well">
		<h4>
			**Update 03/27/2018** - Groups 482, 483, 484, 485, 486, and 488 added to the database.
		</h4>
	</div>

	<div class="well">
		<h4>
			**Update 03/13/2018** - There is no longer a need to use the Archive when searching for dates in 2017 and 2016.  You can now search for all dates in the sidebar, and everything will show on the same spreadsheet.  Please use the Wellmony link above when searching for anything from that Group.
		</h4>
	</div>
</div> 