<div class="row">
<div class="col-sm-4">
<% flash.each do |key,value| %>
<div class="alert alert-<%= key %>"> 
<%= value %>
</div>
<% end %>
</div>
</div>

<div class="Container">

<div class="well">
<h4>
	**Update 03/27/2018** - Updated Date Formatting to be mm/dd/yyyy for all search boxes.
</h4>
</div>

<div class="well">
<h4>
	**Update 03/27/2018** - Groups 482, 483, 484, 485, 486, and 488 added to the database.
</h4>
</div>

<div class="well">
<h4>
	**Update 03/13/2018** - There is no longer a need to use the Archive when searching for dates in 2017 and 2016.  You can now search for all dates in the sidebar, and everything will show on the same spreadsheet.  Please use the Wellmony link above when searching for anything from that Group.
</h4>
</div>
</div>

<div>

<%= image_tag "banner.png" %>
</div>
