<div class="row">
<div class="col-sm-4">
<% flash.each do |key,value| %>
<div class="alert alert-<%= key %>"> 
<%= value %>
</div>
<% end %>
</div>
</div>

<h3>
	**Update 03/13/2018** - There is no longer a need to use the Archive when searching for dates in 2017 and 2016.  You can now search for all dates in the sidebar, and everything will show on the same spreadsheet.  Please use the Wellmony link above when searching for anything from that Group.
</h3>

<div style="padding-top: 200px;">

<%= image_tag "banner.png" %>
</div>
